<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>19/06/19 11:42:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidCredential.clickLogin()[pri:3, instance:login.ValidCredential@475530b9]">clickLogin</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/06/19 11:42:18</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidCredential.enterPassWord()[pri:2, instance:login.ValidCredential@475530b9]">enterPassWord</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/06/19 11:42:18</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidCredential.enterUserName()[pri:1, instance:login.ValidCredential@475530b9]">enterUserName</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/06/19 11:42:18</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidCredential.handlingError()[pri:4, instance:login.ValidCredential@475530b9]">handlingError</td> 
  <td>main@89387388</td>   <td></td> </tr>
</table>
