<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>19/06/11 09:53:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartEngine.BrowserConfiguration(java.lang.String)[pri:0, instance:login.ValidCredential@4c70fda8]">&gt;&gt;BrowserConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>19/06/11 09:53:25</td>   <td>22872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidCredential.clickLogin()[pri:3, instance:login.ValidCredential@4c70fda8]">clickLogin</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>19/06/11 09:53:28</td>   <td>26205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidCredential.handlingError()[pri:4, instance:login.ValidCredential@4c70fda8]">handlingError</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>19/06/11 09:53:36</td>   <td>33801</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;StartEngine.closeBrowser()[pri:0, instance:login.ValidCredential@4c70fda8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
