<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>19/06/20 17:24:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;StartEngine.BrowserConfiguration(java.lang.String)[pri:0, instance:login.LogIn@4c70fda8]">&gt;&gt;BrowserConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/06/20 17:24:24</td>   <td>23864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.clickLogin()[pri:3, instance:login.LogIn@4c70fda8]">clickLogin</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/06/20 17:24:24</td>   <td>23664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.enterPassWord()[pri:2, instance:login.LogIn@4c70fda8]">enterPassWord</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/06/20 17:24:16</td>   <td>15872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.enterUserName()[pri:1, instance:login.LogIn@4c70fda8]">enterUserName</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/06/20 17:24:25</td>   <td>23960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.handlingError()[pri:4, instance:login.LogIn@4c70fda8]">handlingError</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>19/06/20 17:24:27</td>   <td>26459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ResortBookingAndCancellation.resortSelection()[pri:5, instance:resortBooking.ResortBookingAndCancellation@224edc67]">resortSelection</td> 
  <td>main@1121647253</td>   <td></td> </tr>
</table>
